.container {
  padding: 1rem;
  border: 1px solid gray;
  margin: 1rem;
  border-radius: 10px;
}
.todoHeading {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 5px;
}
.completedTodo {
  padding: 0.5rem;
  border: 1px solid green;
  color: green;
  margin: 0.5rem;
  border-radius: 10px;
}
